﻿@model IEnumerable<iShoppingCart.Entities.Product>
@{
    ViewData["Title"] = "ProductsView";
}

<h1>ProductsView</h1>

@foreach (var product in Model) { 
    <div> Product Id : @product.id </div>
    <div>Product Name: @product.name</div>
    <br>
}